/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fontbook';

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
}

swd-root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

swd-builder {
    display: flex;
    flex-direction: row;
}

swd-card {
    display: block;
    width: 775px;
    height: 1070px;
    position: relative;
    margin: -17.5px;

    &.preview {
        width: 775px;
        height: 1070px;
        transform: scale(0.5);
        transform-origin: 0 0;
    }
}

.preview-cover {
    width: 353px;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    margin: 16px auto;
    filter: drop-shadow(0 0 0.5rem black);

    &__battlefield {
        width: 500px;
        height: 353px;
    }
}

swd-card-die-side {
    display: flex;
    flex-direction: column;
    width: 126px;
    background-image: url('assets/die.png');

    &:last-of-type {
        .card-die-divider {
            display: none;
        }
    }
}

.toolbar {
    justify-content: space-between;
}

.u-fs-16 {
    font-size: 16px !important;
}

.spacer {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
}

.die-spacer {
    width: 100%;
    margin: 20px 0 60px;
}

.nav-bar {
    width: 200px;
}

.import-collection {
    width: 80%;

    &-description {
        margin: 0 24px;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.card-hidden {
    position: absolute;
    top: -2000px;
    left: -2000px;

    &__container {
        overflow: visible;
    }
}

.card-type-battlefield {
    width: 1070px;
    height: 775px;

    swd-card {
        width: 1070px;
        height: 775px;

        &.card-hidden__container {
            width: 1070px;
            height: 775px;
        }
    }

    &.preview {
        width: 1070px;
        height: 775px;
        transform-origin: 0 0;
    }

    .card-signature {
        font-size: 14px;
        bottom: 49px;
        left: 655px;
    }

    .card-affiliation {
        left: 535px;
        bottom: 49px;
    }

    .card-number {
        bottom: 49px;
    }

    .card-text {
        top: 515px;
        left: 130px;
        width: 820px;
    }

    .card-color {
        bottom: 49px;
        left: 445px;
        width: 80px;
        background-color: #eee;
    }

    .card-cost,
    .card-type {
        display: none;
    }

    .card-die {
        top: 23px;
    }

    .card-header-subtitle {
        line-height: 28px;
    }
}
.card-type-plot {
    .card-life {
        display: none;
    }

    .card-die {
        top: 23px;
        right: 35px;
        left: auto;
    }

    .card-team-cost {
        bottom: 75px;
    }

    .card-cost {
        display: none;
    }

    .card-header {
        top: 537px;
    }

    .card-type {
        left: 140px;
        top: 675px;
    }

    .card-text {
        left: 110px;
        width: 570px;
    }
}
.card-type-character {
    &.card-diceless {
        .card-type,
        .card-text {
            left: 90px;
            width: 610px;
        }
    }

    .card-cost {
        display: none;
    }

    .card-text {
        top: 725px;
        left: 190px;
        width: 510px;
    }
}
.card-type-upgrade {
    .card-die {
        bottom: 35px;
    }

    .card-type {
        left: 150px;
    }

    .card-text {
        left: 180px;
    }

    .card-header {
        top: 571px;

        &-title {
            max-width: 320px;
        }
    }

    .card-text {
        width: 535px;
        left: 130px;
    }
}
.card-type-downgrade {
    .card-header {
        top: 60px;
        left: 180px;
        width: 410px;
    }

    .card-cost {
        top: 120px;
        left: 70px;
    }

    .card-die {
        bottom: 35px;
    }

    .card-image {
        bottom: 0;
    }

    .card-type {
        left: 160px;
        top: 175px;
    }

    .card-text {
        top: 210px;
        left: 120px;
        width: 580px;
    }
}
.card-type-support {
    .card-header {
        top: 105px;
    }

    .card-text {
        left: 140px;
        width: 510px;
    }

    .card-type {
        top: 685px;
        left: 140px;
        width: 500px;
    }

    .card-die {
        top: 23px;
        right: 35px;
        left: auto;
    }
}
.card-type-event {
    .card-header {
        top: 601px;
    }

    .card-text {
        top: 765px;
        left: 100px;
        width: 600px;
    }

    .card-type {
        top: 732px;
        left: 85px;
        width: 605px;
    }
}

.card-type-battlefield,
.card-type-upgrade,
.card-type-downgrade,
.card-type-support,
.card-type-event {
    .card-team-cost,
    .card-life {
        display: none;
    }
}

// Modify positions when the cards has a die
.has-die {
    &.card-type-event {
        .card-text {
            left: 180px;
            width: 530px;
        }

        .card-type {
            top: 732px;
            left: 170px;
            width: 500px;
        }

        .card-die {
            bottom: 35px;
        }
    }

    &.card-type-upgrade {
        .card-text {
            left: 180px;
            width: 480px;
        }
    }
}

[mat-raised-button].card-button {
    margin-left: 20px;
}

swd-die-side {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.die {
    &-side {
        width: 213px;
        height: 213px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &-value {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: white;
            z-index: 10;
            right: 0;
            background-image: url("assets/die-value-solid.png");
            background-repeat: no-repeat;
            background-size: cover;

            &-container {
                z-index: 100;
                right: 20px;
                height: 100%;
                text-align: center;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &-blank {
                background-image: url("assets/die-value-blank.png");
            }

            &-feral {
                background-image: url("assets/die-value-feral.png");
            }

            &-modifier {
                background-image: url("assets/die-value-modifier.png");
            }

            &-number {
                font-family: 'CorbertDestiny';
                font-size: 36px;
            }
            &-icon {
                font-family: 'SWDestiny';
                font-size: 36px;
            }
        }

        &-cost {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            z-index: 10;
            bottom: 0;
            color: black;
            background-image: url("assets/die-cost-resource.png");
            background-repeat: no-repeat;
            background-size: cover;

            &-container {
                z-index: 100;
                left: 5px;
                bottom: 10px;
                width: 100%;
                text-align: center;
                position: absolute;
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }

            &-indirect {
                background-image: url("assets/die-cost-indirect.png");
            }

            &-number {
                font-family: 'CorbertDestiny';
                font-size: 34px;
                margin-top: 3px;
                margin-right: 1px;
            }
            &-icon {
                font-family: 'SWDestiny';
                font-size: 24px;
                margin-top: 6px;
                margin-right: 1px;
            }
        }
    }

    &-image {
        position: absolute;
        width: 230px;
        height: 230px;
        object-fit: cover;
    }
}

.card {
    &-collection {
        &-container {
            display: flex;
        }

        &-table {
            width: 100%;
            margin: 0 10px;
        }

        &-loader {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }

    &-table {
        width: 100%;
    }

    &-exporting {
        display: flex;
        text-align: center;
        justify-items: center;
        align-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 10000;

        &-cancel {
            cursor: pointer;
        }
    }

    &-loader {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        z-index: 100;

        &.mat-progress-spinner {
            display: inline;
        }
    }

    &-form {
        width: 100%;
        margin: 0 10px;
    }

    &-item {
        position: absolute;
    }

    &-image {
        position: absolute;
        width: 100%;
        height: auto;

        &-background {
            top: 0;
            left: 0;
        }

        &-container {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    &-cost {
        font-family: "CorbertDestiny";
        font-size: 48px;
        line-height: 48px;
        top: 127px;
        left: 77px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .swd-icon {
            font-size: 32px;
            line-height: 48px;
            margin-top: -2px;
        }
    }

    &-life {
        font-family: "CorbertDestiny";
        color: white;
        font-size: 52px;
        top: 133px;
        right: 79px;
        width: 100px;
        text-align: center;
    }

    &-container {
        width: 535px;
        min-width: 535px;
        height: 600px;
        position: sticky;
        top: 0;
    }

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 75px;
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 30px;

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 340px;
            font-family: 'TekoDestiny';
            font-size: 46px;
            line-height: 32px;
            text-transform: uppercase;
            margin: 0;

            &.multiline {
                display: block;
                justify-content: initial;
                align-items: initial;
            }
        }

        &-subtitle {
            max-width: 320px;
            font-family: 'Teko';
            font-size: 32px;
            line-height: 32px;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &-text {
        top: 715px;
        left: 200px;
        width: 500px;
        font-size: 28px;
        font-family: 'ITCSymbolStdDestiny';
        line-height: 36px;

        &--bold {
            font-family: 'ITC Symbol Std';
            font-weight: bold;
        }

        &--italic {
            font-style: italic;
        }
    }

    &-type {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Teko';
        font-size: 42px;
        text-transform: uppercase;
        margin: 0;
        width: 500px;
        left: 200px;
        top: 685px;
    }

    &-team {
        &-cost {
            font-family: "TekoDestiny";
            font-size: 28px;
            text-align: center;
            left: 35px;
            bottom: 67px;
            width: 100px;
        }
    }

    &-affiliation {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        border-radius: 5px;
        font-family: "TekoDestiny";
        font-size: 20px;
        text-transform: uppercase;
        bottom: 55px;
        left: 165px;
        width: 80px;
        height: 24px;
        color: black;
        background-color: lightgray;

        &-villain {
            color: white;
            background-color: black;
        }

        &-hero {
            background-color: white;
        }
    }

    &-color {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        border-radius: 5px;
        font-family: "TekoDestiny";
        font-size: 20px;
        text-transform: uppercase;
        bottom: 55px;
        left: 255px;
        width: 60px;
        height: 24px;
        color: black;
        background-color: rgba(255, 255, 255, 0.6);

        &-red {
            border-color: #d00f0f;
        }
        &-green {
            border-color: #008C00;
        }
        &-yellow {
            border-color: #d6c839;
        }
        &-blue {
            border-color: #0064cc;
        }
    }

    &-signature {
        display: flex;
        font-family: "ITC Symbol Std";
        font-size: 16px;
        bottom: 55px;
        left: 350px;
        height: 24px;
        color: gray;
        background-color: #c5cdc6;
        border: 2px solid gray;
        border-radius: 5px;
        padding: 0 6px 0;
        width: 250px;
        justify-content: center;
        align-items: flex-end;
    }

    &-number {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 5px;
        font-family: "CorbertDestiny";
        font-size: 14px;
        text-transform: uppercase;
        bottom: 55px;
        right: 75px;
        width: 60px;
        height: 24px;
        color: black;

        &-starter {
            background-color: #c5cdc6;
            border-color: gray;
        }

        &-common {
            background-color: #4cb9dd;
            border-color: #30758c;
        }

        &-uncommon {
            background-color: #fcef6c;
            border-color: #ada447;
        }

        &-rare {
            background-color: #a9ca4f;
            border-color: #758c37;
        }

        &-legendary {
            background-color: #9d5e9f;
            border-color: #6e3e6f;
        }
    }

    &-unique {
        width: 21px;
        height: 45px;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 4px;

        &.card-unique-small {
            width: 12px;
            height: 24px;
            margin-right: 4px;
        }
    }

    &-die {
        display: flex;
        flex-direction: column;
        left: 35px;
        bottom: 101px;
        color: white;

        &-side {
            display: flex;
            flex-direction: column;
            width: 95px;
            height: 60px;
            align-items: center;
            justify-content: center;
            margin-left: 14px;

            &-solid {
                background-color: #000000;
            }

            &-blank {
                background-color: #d31e25;
            }

            &-modifier {
                background-color: #0a408a;
            }

            &-feral {
                background-color: #008C00;
            }

            &-item {
                display: flex;
                align-items: center;

                &-value {
                    font-family: 'CorbertDestiny';
                    font-size: 36px;
                    margin-right: 6px;
                }
                &-icon {
                    font-family: 'SWDestiny';
                    font-size: 26px;
                    padding-bottom: 2px;

                }
            }

            &-cost {
                height: 80px;

                &-item {
                    display: flex;
                    align-items: center;
                }

                &-value {
                    font-family: 'CorbertDestiny';
                    font-size: 26px;
                    margin-right: 6px;
                }
                &-icon {
                    font-family: 'SWDestiny';
                    font-size: 18px;
                    padding-bottom: 2px;

                    &-resource {
                        color: #f8c921;
                    }

                    &-indirect {
                        color: #d31e25;
                    }
                }
            }
        }
    }
}

.form {
    &-container {
        padding: 0 20px;
    }

    &-padding {
        padding-top: 20px;
    }

    &-input {
        width: 100%;

        &__half {
            width: 50%;
        }
    }

    &-text-area {
        width: 100%;
        height: 100px;
    }
}

.line-break {
    display: block;
    margin-bottom: 0.5em;
}

.swd-icon {
    font-family: 'SWDestiny';
    font-size: 24px;
    line-height: 24px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
