<h1 mat-dialog-title>About</h1>
<div mat-dialog-content>
    The information presented on this site is publicly accessible, not for resale, fan made material about the Star Wars
    Destiny collectible card game. The card game is copyrighted to Fantasy Flight Games. All images regarding the Star
    Wars universe herein are copyrighted to Lucasfilm and Disney. Art authors and/or original source of each image we
    propose to use are credited in our fan made material. This website is not produced, endorsed, supported, or
    affiliated with Fantasy Flight Games, Lucasfilm or Disney, and is a project created and managed by volunteer fans,
    for fans, for personal pleasure and not for any financial gain.
</div>
