<span class="die-side-value"
      [class.die-side-value-blank]="data?.symbol === 'J'"
      [class.die-side-value-modifier]="data?.isModifier"
      [class.die-side-value-feral]="data?.isFeral">
    <span class="die-side-value-container">
        <span class="die-side-value-number" *ngIf="data?.value">{{ data?.value }}</span>
        <span class="die-side-value-icon" *ngIf="data?.symbol">{{ data?.symbol }}</span>
    </span>
</span>

<span class="die-side-cost"
      *ngIf="data?.costValue"
      [class.die-side-cost-indirect]="data?.costSymbol === 'C'"
>
    <span class="die-side-cost-container">
        <span class="die-side-cost-number">{{ data?.costValue }}</span>
        <span class="die-side-cost-icon">{{ data?.costSymbol }}</span>
    </span>
</span>
