<header>
    <mat-toolbar class="toolbar" color="primary">
        <div><span>Star Wars Destiny Builder</span></div>
        <button mat-button (click)="showAbout()">
            <mat-icon>help</mat-icon> About
        </button>
    </mat-toolbar>
</header>

<mat-sidenav-container style="height: 100%">
    <mat-sidenav mode="side" opened class="nav-bar">
        <mat-selection-list #navList [multiple]="false">
            <mat-list-option [value]="'builder'" [routerLink]="'builder'" routerLinkActive="">Card Builder</mat-list-option>
            <mat-list-option [value]="'wild-horizons'" [routerLink]="'wild-horizons'">Wild Horizons</mat-list-option>
            <mat-list-option [value]="'export-tool'" [routerLink]="'export-tool'">Export Tool</mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
